---
import Container from '@compoonents/container.astro'
import NextMatchesTable from '@compoonents/next-matches-table.astro'
import Sponsors from '@compoonents/sponsors.astro'
import Table from '@compoonents/table.astro'
import TeamCard from '@compoonents/team-card.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Kings League Infojobs'>
  <main>
    <section class='bg-principal py-5 sm:py-20'>
      <Container>
        <div class='grid grid-cols-4 lg:grid-cols-8 gap-10 w-full px-4 md:px-8'>
          <div class='col-span-4 xl:col-span-3 flex flex-col gap-y-10'>
            <NextMatchesTable />
            <Table />
          </div>
          <div class='col-span-2'>
            <div class='grid grid-cols-6 gap-y-10 gap-x-5 w-full'>
              <!-- MVP -->
              <div class='col-span-6 bg-white h-80 rounded'>
                <!-- Card component here -->
              </div>
              <!-- Goal Scorer -->
              <div class='col-span-3 bg-white h-80 rounded-'>
                <!-- Card component here -->
              </div>
              <!-- Assistant -->
              <div class='col-span-3 bg-white h-80 rounded'>
                <!-- Card component here -->
              </div>
            </div>
            <div class='my-5'>
              <TeamCard />
            </div>
          </div>
        </div>
      </Container>
    </section>
  </main>
  <Sponsors />
</Layout>
