---
import Container from '@compoonents/container.astro'
import Table from '@compoonents/table.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Kings League Infojobs'>
  <main>
    <section class='bg-[#e66000] py-20'>
      <Container>
        <Table />
      </Container>
    </section>
  </main>
</Layout>
